*{
    margin:0;
    padding:0;
}
#contorno {
    width 1200px;
    height: 1000px;
   
    margin: 0.5em auto; 
    padding:0.5em;
}

#header {
    height: 8%;
    background: #022340;
    border-radius: 1em; 
    margin: 1em;
}

#nav{
    height: 8%;
    background: #5A98BF;
    border-radius:1em;
    margin:1em;
}

#contenido{
    height: 165%;
    margin: 1em; 
}

#section{
    height:100%;
    width:70%;
    background: #5185A6;
    border-radius: 1em;
    float: left; 
    margin-left:0.5em;    
}

#aside{
    height:70%; 
    width:25%; 
    background: #8FBDD9;
    border-radius: 1em;
    float:right; 
    margin-right:0.5em; 
}

.articulo
{
    width: 95%;
    height: 85%;
    background: #8FBDD9;
    margin: 1em;
    border-radius: 1em; 
    
    
}
.dato
{
    width:95%;
    height: 23%;
    background: #8FBDD9;
    margin: 1em;
    border-radius: 1em; 
    
    
}
#footer{
    height: 40%; 
   
    border-radius:1em;
    margin:1em; 
}